# Data exploration exercise

In [1]:
#!/usr/bin/env python
import requests
import json
import csv
import pandas as pd
import numpy as np

Instructions: I sent you my_key to access the data from the API adress, but you can get your own key in this link if you want https://api.census.gov/data/key_signup.html. What you need to do is pasting that key within the next chunk of code.

You can find variables explaination here https://www.census.gov/data/developers/data-sets/qwi.html#endpoints

You should start working with the dataframe called data_lodes, I also saved it as an csv so you can import the data directly if you want instead of getting the data from the API.

In [2]:
# Data (Lina)
my_key = 'a385feb8f8766853786d7a499a13b406e5ef1ac3' # Paste the key here
browser = 'https://'
url = 'api.census.gov/data/timeseries/qwi/sa?get=Emp,EmpS,HirA,EarnS,Sep&time=from 2010-Q1 to 2012-Q4&for=state:39,42,18,21,54&sex=1&sex=2&agegrp=A02&agegrp=A07&ownercode=A00&seasonadj=U&industry=11&industry=21&industry=22&industry=23&industry=42&industry=51&industry=52&industry=53&industry=54&industry=55&industry=56&key='
api_address = browser + url + my_key
data = requests.get(api_address).json()
names = data[0]

data_lodes = pd.DataFrame(data[1:], columns = names)

# df.to_csv('data_lodes.csv') # Saved as csv

In [3]:
# Analyzing a dataset (Ben)

# Generating a dataframe using sql coding in Python.
# Subsetting (filters)
# Merge, append, join functions
# Reshape from wide to long format and vice versa
# Modify date formats
# Add new columns and rows
# Replace values within same columns
# Rename columns

### Tables and main stats (Natalie)

In [4]:
# How to check data type
type(data_lodes)

pandas.core.frame.DataFrame

In [5]:
# DataFrame size
data_lodes.shape

(2640, 12)

In [6]:
# Columns' names
data_lodes.columns

Index(['Emp', 'EmpS', 'HirA', 'EarnS', 'Sep', 'time', 'sex', 'agegrp',
       'ownercode', 'seasonadj', 'industry', 'state'],
      dtype='object')

In [7]:
# Default 5 first columns
data_lodes.head()

,Emp,EmpS,HirA,EarnS,Sep,time,sex,agegrp,ownercode,seasonadj,industry,state
0,468,404,129,1425,94,2010-Q1,1,A02,A00,U,11,18
1,1043,993,89,3412,67,2010-Q1,1,A07,A00,U,11,18
2,135,114,63,1040,38,2010-Q1,2,A02,A00,U,11,18
3,445,409,61,2063,43,2010-Q1,2,A07,A00,U,11,18
4,91,86,10,3241,8,2010-Q1,1,A02,A00,U,21,18

In [8]:
# default last 5 columns
data_lodes.tail()

,Emp,EmpS,HirA,EarnS,Sep,time,sex,agegrp,ownercode,seasonadj,industry,state
2635,12641,12124,402,5033,647,2012-Q4,2,A07,A00,U,55,39
2636,13267,7226,11472,1450,12646,2012-Q4,1,A02,A00,U,56,39
2637,23155,19035,5210,4526,6410,2012-Q4,1,A07,A00,U,56,39
2638,7497,4339,7552,1241,7588,2012-Q4,2,A02,A00,U,56,39
2639,18558,15840,4184,2527,4659,2012-Q4,2,A07,A00,U,56,39

In [9]:
# count, mean, std, min, max as well as lower, 50 and upper percentiles
pd.DataFrame.describe(data_lodes)
data_lodes.describe()
#Natalie notice that both code lines show the same output

,Emp,EmpS,HirA,EarnS,Sep,time,sex,agegrp,ownercode,seasonadj,industry,state
count,2640,2640,2619,2640,2624,2640,2640,2640,2640,2640,2640,2640
unique,2018,1893,1163,2023,1161,12,2,2,1,1,11,5
top,6,4,17,1198,5,2012-Q1,1,A02,A00,U,53,18
freq,7,11,17,6,17,220,1320,1320,2640,2640,240,528

In [15]:
# Groupby
# Natalie your code was pd.df.groupby(‘col name’) Notice that you need to specify which column are
# you grouping by

# Ex: Group by of number of "Emp" by sex
# Convert "Emp" in float type
type(data_lodes.Emp)
data_lodes["Emp"] = data_lodes["Emp"].astype('float')

Emp_bysex = data_lodes.groupby(by="sex")[["Emp"]].sum()
print(Emp_bysex)

           Emp
sex
1    6223259.0
2    4251797.0

In [11]:
# Nice table
#pivot_tables within Pandas might be useful

In [12]:
# Select industries with more than 1000 "Emp" in any quarter
Industry = data_lodes.industry[data_lodes.Emp>1000]
print(Industry.head())
# List of unique industries with more than 1000 in any quarter
Industry_more1000Emp = {'industry': data_lodes.industry.unique()}
Industry_more1000Emp = pd.DataFrame(data=Industry_more1000Emp)
print(Industry_more1000Emp)

1     11
9     22
12    23
13    23
15    23
Name: industry, dtype: object
   industry
0        11
1        21
2        22
3        23
4        42
5        51
6        52
7        53
8        54
9        55
10       56

In [13]:
# Select particular columns in a dataframe by types
# types by column
print(data_lodes.dtypes)
print(data_lodes.select_dtypes(include='float').head())
print(data_lodes.select_dtypes(include='object').head())

Emp          float64
EmpS          object
HirA          object
EarnS         object
Sep           object
time          object
sex           object
agegrp        object
ownercode     object
seasonadj     object
industry      object
state         object
dtype: object
      Emp
0   468.0
1  1043.0
2   135.0
3   445.0
4    91.0
  EmpS HirA EarnS Sep     time sex agegrp ownercode seasonadj industry state
0  404  129  1425  94  2010-Q1   1    A02       A00         U       11    18
1  993   89  3412  67  2010-Q1   1    A07       A00         U       11    18
2  114   63  1040  38  2010-Q1   2    A02       A00         U       11    18
3  409   61  2063  43  2010-Q1   2    A07       A00         U       11    18
4   86   10  3241   8  2010-Q1   1    A02       A00         U       21    18

In [14]:
# Dataviz (Jarod)

# Histograms, categorical variables distribution
# Seaborn charts
# Matplotlib charts
# Heatmaps
# Small multiple scatterplots